.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
    border-radius: 8px;
    width: 40vw;
    height: 40vh;
}
.close-div{
    width: 100vw;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 10px;
}
.close-div button{
    width: 40px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 10px 20px;
    border-radius: 20px;
}

