* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}  

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

body {
    background: #dddcdc;
}

.button{
    background-color: #F33850;
    font-size: 16px;
    border: 0;
    border-radius: 8px;
    font-weight: 700;   
    color: white;
    outline: none;
    cursor: pointer;
}
.button:disabled{
    background: gray;
}
a{
    cursor: pointer;
}



.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
}